{{ define "globals/footer.tmpl" }}
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
            {{ .title }} is simple list app
            </p>
        </div>
    </footer>
</body>
{{ end }}